@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ff474b;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Mochiy Pop P One', monospace;
}

.wrapper {
  background-color: #00bbff;
  border: 15px solid #fcdf01;
  border-radius: 20px;
  width: 50vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title-container {
  width: 100%;
  height: 70px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.title {
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px black;
}

.time-length-control {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.length-control {
  text-align: center;
}

.subtitle {
  font-family: monospace;
  font-size: 1.4rem;
  font-weight: 700;
  color: black;
  opacity: 0.6;
}

.btn-length {
  color: #fcdf01;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 1.6rem;
  background-color: transparent;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

.count {
  font-family: monospace;
  font-size: 1.9rem;
  font-weight: 200;
}


/* TIMER & Controls */

.timer {
  text-align: center;
  padding-top: 20px;
  width: 35%;
  height: 150px;
  border: 7px solid white;
  border-radius: 15px;
  background-color: #ff474b;
  opacity: 0.8;
  color: white;
}

.timer-title {
  width: 100%;
  padding-bottom: 30px;
}

.clock {
  width: 100%;
  font-size: 3rem;
}

.timer-controls {
  width: 100%;
  height: 70px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.control {
  padding: 10px;
  color: white;
  font-size: 1.2rem;
}

.btn2 {
  font-size: 1.6rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}